/* Regole Generali */
.container {
  background-color: pink;
}

.container > div {
  border: 1px solid black;
  position: relative;
  height: 200px;
}

.container div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Fine Regole Generali */

/* FOOTER */
footer > .container div {
  padding: 3px;
}

footer .container div > .container div {
  border: 1px solid white;
  background-color: lightcoral;
  height: 185px;
}
/* FINE FOOTER */
